.emacs.desktop
elisp/org-mode
*~
*.elc
*.pyc
eshell/history
eshell/lastdir
ido.last
ac-comphist.dat
custom-settings.el
elpa/archives/melpa/archive-contents
elisp/scimax
elpa/*
emacs.el
zunused/*
for_scimax_standalone/ryan_after_scimax.el
for_scimax_standalone/ryan_after_scimax.html
tramp
metastore_db
